{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<div class="tweet-form">
    <form id="postForm">
        <textarea id="postContent" placeholder="What's happening?"></textarea>
        <div class="form-buttons">
            <div class="form-group">
                <label for="attachments">Attachments</label>
                <input type="file" id="attachments" name="attachments" multiple accept="image/*">
                <div id="attachmentPreviewContainer"></div>
            </div>
            <select id="postCategory" multiple>
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select id="postAudience">
                <option value="">Select Audience</option>
                {% for audience in audiences %}
                    <option value="{{ audience.pk }}">{{ audience.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" title="Tweet"><i class="fas fa-paper-plane"></i></button>
        </div>
    </form>
</div>

<script>
    document.getElementById('postForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Prevent form submission

    var formData = new FormData();
    formData.append('author', '{{ user_profile.user.pk }}');
    formData.append('content', document.getElementById('postContent').value);
    formData.append('audience', document.getElementById('postAudience').value);
    var postCategory = Array.from(document.getElementById('postCategory').selectedOptions)
        .map(option => parseInt(option.value));  // Convert string to integer
    postCategory.forEach(category => {
        formData.append('categories', category);
    });

    var attachments = document.getElementById('attachments').files;
    for (var i = 0; i < attachments.length; i++) {
        formData.append('attachments', attachments[i]);
    }

    // Send AJAX request to create a new post
    fetch('/diy/api/create_post/', {
        method: 'POST',
        headers: {
            // 'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Handle successful response
        console.log('Post created:', data);

        // Clear the form
        document.getElementById('postContent').value = '';
        document.getElementById('attachments').value = '';
        document.getElementById('postAudience').value = '';  // Clear the audience dropdown
        document.getElementById('postCategory').selectedIndex = 0;  // Clear the category dropdown

        // Add the new post to the page
        var newPost = document.createElement('div');
        newPost.classList.add('tweet');
        newPost.innerHTML = `
            <div class="user-info">
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
                <div class="details">
                    <div class="username">{{ user_profile.user.first_name}}</div>
                    <div class="handle">@{{ user_profile.user.username}}</div>
                    <div class="timestamp">Just now</div>
                    <div class="organization">{{ user_profile.organization }}</div>
                </div>
            </div>
            <div class="tweet-text">${postContent}</div>
        `;
        document.querySelector('.tweet-form').after(newPost);
    })
    .catch(error => {
        // Handle error
        console.error('Error creating post:', error);
    });
});
</script>



{% for post in posts %}
<div class="tweet">
    <div class="user-info">
        <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
        <div class="details">
            <div class="username">{{ post.author.first_name}}</div>
            <div class="handle">@{{ post.author.username}}</div>
            <div class="timestamp" >{{ post.created_at|short_timesince }}</div>
            <!-- <div class="timestamp">{{post.audience}}</div> -->
            <div class="organization">{{ user_profile.organization }}</div>
        </div>
    </div>
    {% if post.categories %}
    <div class="categories-container">
        {% for category in post.categories.all %}
            <button class="category-button">{{ category.name }}</button>
        {% endfor %}
    </div>
    {% endif %}
    <div class="tweet-text">
        {{post.content}}
    </div>
    {% if post.attachments %}
                            <div class="tweet-images">
                                {% for attachment in post.attachments.all %}
                                    {% if forloop.counter <= 4 %}
                                        {# Limit to maximum of 4 attachments for a 2 by 2 grid #}
                                        {% if attachment.file_extension == '.mp4' %}
                                            <!-- Video Player -->
                                            <div class="attachment-item">
                                                <video controls>
                                                    <source src="{{ attachment.file.url }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        {% else %}
                                            <!-- Image -->
                                            <div class="tweet-images">
                                                <img src="{{ attachment.file.url }}" alt="img">
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
</div>

{% endfor %}

{% endblock %}